<div class="menu">
  <%= link_to "Skills", root_path(:anchor => "skills-list") %>
  <a class="menu-hide" href="#">Portofolio</a>
  <!-- <a class="menu-github" href="https://github.com/flaviamuntean" target="_blank" rel="noopener noreferrer">GitHub</a>
  <a href="https://www.linkedin.com/in/flaviamuntean/" target="_blank" rel="noopener noreferrer">LinkedIn</a> -->
  <a class="menu-contact" href="mailto:muntean.flavia@gmail.com" target="_blank" rel="noopener noreferrer">Contact</a>
</div>
