<div class="portofolio">
 <div class="container">
   <h2 class="heading">Portofolio</h2>
   <div class="row">

     <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
       <div class="card-product">
         <img src="https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" />
         <div class="card-product-infos">
           <h2><span class="p-1 yellow-highlight">SoundsGood</span></h2>
           <p><strong>Connect through sound.</strong> Find musicians near you, check out their music and connect.</p>
         </div>
       </div>
     </div>

     <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
       <div class="card-product">
         <img src="https://images.unsplash.com/photo-1471523835123-1172efe5eaa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
         <div class="card-product-infos">
           <h2><span class="p-1 yellow-highlight">Instruments hire</span></h2>
           <p>Looking to <strong>rent a musical instrument</strong>? This is the place for you.</p>
         </div>
       </div>
     </div>

     <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
       <div class="card-product">
         <img src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2786&q=80" />
         <div class="card-product-infos">
           <h2><span class="p-1 yellow-highlight">Mr Cocktail</span></h2>
           <p>Find ingenious <strong>cocktail recipes</strong>, rate them and even add your own creations.</p>
         </div>
       </div>
     </div>

   </div>
   <h3>More feature demos</h3>
 </div>
</div>

