<div id="hero">
  <div id="video-overlay"></div>
  <div id="video-wrapper">
    <video preload="auto" width="100%" height="100%" autoplay="" muted="" loop="" playsinline="" src="https://res.cloudinary.com/drfovutwm/video/upload/v1568832533/flaviacodes-short_sepjbr.mov"></video>
  </div>
  <div class="content">
    <h1 class="logo"> <b>Flavia</b> Muntean</h1>
    <div class="menu">
      <a class="menu-hide" href="#">Skills</a>
      <a class="menu-hide" href="#">Portofolio</a>
      <!-- <a class="menu-github" href="https://github.com/flaviamuntean" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="https://www.linkedin.com/in/flaviamuntean/" target="_blank" rel="noopener noreferrer">LinkedIn</a> -->
      <a class="menu-contact" href="mailto:muntean.flavia@gmail.com" target="_blank" rel="noopener noreferrer">Contact</a>
    </div>
    <div class="text">
      <h1>Full Stack Developer<br>building products that make a difference</h1>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
          <div class="subtitle-gde"> Based in the sunny part of England, I design and develop seamless solutions that bring value to people's lives.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="skills-list" class="mx-5">
  <!-- <h2 class="text-center">Skills</h2> -->
  <div class="row">
    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-xl-3 mb-5">
      <i class="far fa-gem"></i>
      <h3>Ruby</h3>

      <!-- <p class="text-lite">I lead consultancy web projects and present workshops for companies on <a href="https://pwaworkshop.com" target="_blank" rel="noopener noreferrer">Progressive Web Apps</a>. </p> -->
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-xl-3 mb-5">
      <i class="fas fa-train"></i>
      <h3>Ruby on Rails</h3>
      <!-- <p class="text-lite">I lead consultancy web projects and present workshops for companies on <a href="https://pwaworkshop.com" target="_blank" rel="noopener noreferrer">Progressive Web Apps</a>. </p> -->
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-xl-3 mb-5">
      <i class="fab fa-html5"></i>
      <h3>HTML</h3>
      <!-- <p class="text-lite">I lead consultancy web projects and present workshops for companies on <a href="https://pwaworkshop.com" target="_blank" rel="noopener noreferrer">Progressive Web Apps</a>. </p> -->
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-xl-3 mb-5">
      <i class="fab fa-js-square"></i>
      <h3>JavaScript ES6</h3>
      <!-- <p class="text-lite">I lead consultancy web projects and present workshops for companies on <a href="https://pwaworkshop.com" target="_blank" rel="noopener noreferrer">Progressive Web Apps</a>. </p> -->
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-xl-3 mb-5">
      <i class="fab fa-css3-alt"></i>
      <h3>CSS / SCSS</h3>
      <!-- <p class="text-lite">I lead consultancy web projects and present workshops for companies on <a href="https://pwaworkshop.com" target="_blank" rel="noopener noreferrer">Progressive Web Apps</a>. </p> -->
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-xl-3 mb-5">
      <i class="fas fa-database"></i>
      <h3>SQL / Postgresql</h3>
      <!-- <p class="text-lite">I lead consultancy web projects and present workshops for companies on <a href="https://pwaworkshop.com" target="_blank" rel="noopener noreferrer">Progressive Web Apps</a>. </p> -->
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-xl-3 mb-5">
      <i class="fab fa-react"></i>
      <h3>React</h3>
      <!-- <p class="text-lite">I lead consultancy web projects and present workshops for companies on <a href="https://pwaworkshop.com" target="_blank" rel="noopener noreferrer">Progressive Web Apps</a>. </p> -->
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-xl-3 mb-5">
      <i class="fab fa-github"></i>
      <h3>APIs</h3>
      <!-- <p class="text-lite">I lead consultancy web projects and present workshops for companies on <a href="https://pwaworkshop.com" target="_blank" rel="noopener noreferrer">Progressive Web Apps</a>. </p> -->
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-xl-3 mb-5">
      <i class="fab fa-react"></i>
      <h3>Redux</h3>
      <!-- <p class="text-lite">I lead consultancy web projects and present workshops for companies on <a href="https://pwaworkshop.com" target="_blank" rel="noopener noreferrer">Progressive Web Apps</a>. </p> -->
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-xl-3 mb-5">
      <i class="fab fa-python"></i>
      <h3>Python</h3>
      <!-- <p class="text-lite">I lead consultancy web projects and present workshops for companies on <a href="https://pwaworkshop.com" target="_blank" rel="noopener noreferrer">Progressive Web Apps</a>. </p> -->
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-xl-3 mb-5">
      <i class="fab fa-github"></i>
      <h3>Git / GitHub</h3>
      <!-- <p class="text-lite">I lead consultancy web projects and present workshops for companies on <a href="https://pwaworkshop.com" target="_blank" rel="noopener noreferrer">Progressive Web Apps</a>. </p> -->
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-6 col-md-4 col-xl-3 mb-5">
      <i class="fas fa-clipboard-check"></i>
      <h3>Testing</h3>
      <!-- <p class="text-lite">I lead consultancy web projects and present workshops for companies on <a href="https://pwaworkshop.com" target="_blank" rel="noopener noreferrer">Progressive Web Apps</a>. </p> -->
    </div>


  </div>

</div>
